@import "setup";
// brand colors and fonts, as shown in client handout

$brand-red: rgb(208,2,27);
$brand-blue: rgb(74,144,226);
$brand-gray: rgb(74,74,74);
$headingFont: 'Abril Fatface';
$bodyFont: 'Open Sans';


// brand fonts should be as follows:
// heading font: 'abril fatface'
// body font: 'open sans'

// Taking away padding and margin
h1, 
h2,
h3,
h4,
h5,
h6,
ul, 
li
 {
	padding: 0;
	margin: 0;
}

input[type=checkbox],
input[type=radio] {
	display: none;
}

input[type=checkbox]:checked + label,
input[type=radio]:checked + label {
	background: $brand-blue;
	border: 1px solid $brand-gray;
	color: white;
	// box-shadow: 3px 3px 2px $brand-gray;
}

label {
	transition: all 0.3s ease-in-out;
	text-align: center;
	border: 1px solid transparent;
}

label:hover {
	background: $brand-blue;		
}

img {
	max-width: 100%;
}

body {
	background: $brand-red;
	font-family: $bodyFont;
	color: $brand-gray;
}

.wrapper {
	width: 80%;
	max-width: 1600px;
	background: white;
	margin: 0 auto;
}

.hide {
	display: none;
}

// Header start
header {
	height: 50px;
	background: black;
	color: white;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	z-index: 2;
	position: relative;
	
	ul {
		list-style-type: none;
		z-index: 1;
	}
	li {
		cursor: pointer;
	}
	li, p {
		padding: 0 30px;

	}
}


// Header end
// POPUP-NAV START

.popup-about {
	position: fixed;
	background: rgba(0,0,0,0.75);
	height: 100%;
	top: 0;
	color: white;
	font-weight: 100;
	width: 100%;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 30%;
	font-weight: 600;
	opacity: 0;
	visibility: hidden;
	transition: all 0.75s;
	transform: scale(1.3);
	z-index: 1;

	h2 {
		font-size: 2.2rem;
		text-align: center;
		padding-bottom: 25px;
	}

	h3 {
		font-style: italic;
		text-align: center;
	}

	h4 {
		font-weight: 300;
		padding-top: 25px;
		text-align: center;
		line-height: 1.7rem;
		letter-spacing: 0.065rem;
	}

	#close-about {
		background: transparent;
		border: none;
		color: white;
		padding: 20px;
		font-size: 1.3rem;
		text-transform: lowercase;
		outline: none;
		transiton: 0.5s ease;

		&:hover {
			color: $brand-red;
		}
	}

	a {
		text-decoration: none;
		color: white;
		transition: 0.5s ease;
		font-weight: 700;
		
		&:hover {
			color: wheat;
		}
	}
}

.popup-about.show {
	opacity: 1;
	visibility: visible;
	transform: scale(1);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
	transform: scaleY(1);
}

// POPUP-NAV END
// Hero start
.hero-intro {
	background: url('../images/hero.jpg');
	background-size: cover;
	color: white;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.centered {
		min-width: 50%;
		min-height: 20%;
		background: rgba(0,0,0,0.5);
		text-align: center;
		padding: 20px;
	}

	h1 {
		font-size: 3.45rem;
		padding: 0 20px 20px 20px;
		font-family: $headingFont;
		letter-spacing: 0.25rem;
	}

	h2 {
		font-size: 1.75rem;
		padding-bottom: 7px;
		font-weight: 300;
	}
}

// Global Button Styles

.blueButton {
	margin-top: 7px;
	background: $brand-blue;
	color: white;
	height: 50px;
	padding: 0 20px;
	margin: 30px 0;
	text-transform: uppercase;
	font-weight: bold;
	border: none;
	border-radius: 12px;
	box-shadow: 1.5px 1.5px 5px $brand-gray;
	transition: all 0.5s ease-in-out;

	&:hover,
	&:focus {
		background: $brand-red;
	}

}

// Hero end
.user-select {
	h3 {
		text-align: center;
		font-size: 2rem;
		padding: 30px;
		font-family: $headingFont;
	}
}
// Form start
#main-form {
	display: flex;
	flex-direction: column;
	justify-content: center;

	#meat, 
	#veggie, 
	#drink {
		padding: 5%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;

		label {
			margin: 10px;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			padding: 5%;
		}

	}

	#meat {
		label {
			width: calc(100% / 5 - 20px);
		}
		
		@media (max-width: 450px) {
			label {
				width: calc(100% / 2 - 20px);
			}
		}
	}

	#veggie {

		label {
			width: calc(100% / 3 - 20px);
		}
		
		@media (max-width: 450px) {
			label {
				width: calc(100% / 2 - 20px);
			}
		}

	}
}

.ingredient-parent {
	padding: 5%;
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 70px;
}

.lets-get-results {
	@extend .blueButton;
	margin: 20px auto;
	
	@media (max-width: 425px) {
			width: 90%;
	}
}


.ingredient-image {
	width: 100%;
	margin-bottom: 20px;
}
// Form end

// Footer 
footer {
	@extend header;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

// Working with results that we've added in 

.food-images {
	height: 200px;
}

.food {
	padding: 20px 0;
	// display: flex;
	// flex-wrap: wrap;
}

.results,
.lcboResults {
	padding: 20px;
	text-align: center;
	min-height: content;
	overflow: hidden;
}

.results img {
	width: 25%;
	float: right;
	
	@media (max-width: 760px) {
		width: 100%;
	}
}

.results img.drinkImg{
	width: 25%;
	float: left;
	
	@media (max-width: 760px) {
		width: 100%;
	}
}

.recipeWrapper {
	width: 80%;
	float: left;
}

.results h2 {
	border: 1px solid $brand-gray;
	padding: 15px;
	margin-bottom: 20px;
	width: calc(75% - 20px);
	float: left;
	// display: inline-block;

	@media (max-width: 760px) {
		width: 100%;
		margin: 10px 0;
	}

}

.drinkName {
	border: 1px solid $brand-gray;
	padding: 15px;
	width: calc(75% - 20px);
	float: right;
	// display: inline-block;

	@media (max-width: 760px) {
		width: 100%;
		margin: 10px 0;
	}

}

.results a {
	color: $brand-blue;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}

.ready,
.drinkStyle {
	text-transform: capitalize;
	font-weight: 300;
	font-size: 1.25rem;
}

.results .blueButton {
	margin: 10px auto;
	display: block;
}

.pairsWithWrapper {
	display: block;
	width: 100%;
	margin: 20px auto;
	font-size: 2rem;
	padding: 30px;
	font-family: $headingFont;
	color: black;
	text-align: center;
	background: #AAAAAA;
	letter-spacing: 0.1rem;
}

.find {
	visibility: hidden;
	opacity: 0;
	margin: 0;
	transform: scale(1.5);
}


.find.show {
	@extend .popup-about;
	margin-top: -100px;
	visibility: visible;
	opacity: 1;
	padding: 0 20%;
	width: 100%;
	margin: 0;

	h4 {
		padding-top: 5px;
	}

	.postalCodeForm {
		display: flex;
		flex-direction: column;

		#txtPostalCode {
			margin-top: 15px;
			padding: 10px;
			height: 35px;
			width: 220px;
		}
	}
	#btnSearchStores {
		@extend .blueButton;
		height: 45px;
		margin: 15px;
	}

	#close-find {
		// background: transparent;
		color: white;
		font-size: 1.75rem;
		transition: .5s ease;
		cursor: pointer;
		transition: .5s ease;
			&:hover {
				color: $brand-red;
			}
	}
}

#restart {
	cursor: pointer;
	&:hover {
		color: $brand-red;
	}
}