@import "setup";

body {
	background: brown;
}

.wrapper {
	width: 80%;
	max-width: 1600px;
	background: white;
}

header {
	min-height: 100vh;
	@media (max-width: 760px) {
		min-height: 50vh;
	}
}

.select {
	min-height: 100vh;
}