@import "setup";
// brand colors, as shown in client handout

$brand-red: rgb(208,2,27);
$brand-blue: rgb(74,144,226);
$brand-gray: rgb(74,74,74);

// brand fonts should be as follows:
// heading font: 'abril fatface'
// body font: 'open sans'

// Taking away padding and margin
h1, 
h2,
h3,
h4,
h5,
h6,
ul, 
li
 {
	padding: 0;
	margin: 0;
}

body {
	background: $brand-red;
}

.wrapper {
	width: 80%;
	max-width: 1600px;
	background: white;
}
// Header start
header {
	height: 50px;
	background: black;
	color: white;
	ul {
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		list-style-type: none;

		li {
			padding: 0 30px;
		}
	}
}
// Header end
// Hero start
.hero-intro {
	background: $brand-blue;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h1 {
		font-size: 2.45rem;
		padding-bottom: 20px;
	}

	h2 {
		font-size: 1.75rem;
		padding-bottom: 7px;
	}
	
	.get-started {
		margin-top: 7px;
		background: $brand-gray;
		height: 50px;
		width: 180px;
		border: none;
		border-radius: 12px;
		box-shadow: 1.5px 1.5px 5px $brand-gray;
	}
}



// Hero end